.header {
    height: 95vh;
    background-image: linear-gradient( hsla(111, 29%, 31%, 0.801), hsla(137, 27%, 23%, 0.769)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50% -50%);
    text-align: center;




}


}